* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgb(131, 103, 103), rgb(82, 64, 64)) ;
    height: 100vh;
    width: 100vw;
}

.game-board {
    position: relative;
    width: 100%;
    height: 500px;
    border-bottom: 20px solid rgb(14, 196, 14);
    margin: 0 auto;
    overflow: hidden;

    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    height: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 13s infinite linear;
}

.clouds-2{
    position: absolute;
    width: 550px;
    animation: clouds-animation 18s infinite linear;
}

.clouds-3{
    position: absolute;
    width: 550px; 
    animation: clouds-animation 11s infinite linear;
}

.score{
    position: absolute;
    right: 30px;
    bottom: 30px;

    color: rgb(189, 174, 93);
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}